<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>
				<img class="attachment user profile_image fallback" src="" alt="image">
				<table>
					<thead>
						<tr>
							<th>header</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>data</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>