<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'users/list', book: @book %>
			<div class="col-lg-9">
				<h2>Books</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<tbody>
						<% current_user.books.each do |book| %>
						<tr>
							<td><%= book.title %></td>
							<td><%= book.opinion %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>