<h2>Books detail</h2>
<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Opinion</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @book.title %></td>
				<td><%= @book.opinion %></td>
				<td><%= link_to "edit", edit_book_path(@book) %></td>
				<td><%= link_to "destroy", edit_book_path(@book) %></td>
			</tr>
		</tbody>
	</table>